body {
    margin: auto;
    padding: 0;
    width: 600px;
    font-family: "Smythe", system-ui;
} 

header {
    padding: 46px;
    color: #FFFFFF;
    background-image: url('./images/burger-background.jpg');
    background-size: cover;
    background-position: 100% 65%;
    margin-bottom: 20px;
}

header h1 {
    font-size: 39px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

header p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 23px;
}

main {
    position: relative;
    margin-bottom: 50px;
}

.cards, .order {
    margin: 0 46px;
}

.cards {
    margin-bottom: 45px;
}

.inter-font {
    font-family: "Inter", sans-serif;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 45px;
    padding-bottom: 45px;
    width: 100%;
    border-bottom: 1px solid #D2D2D2;
}

.card-container {
    display: flex;
    width: 100%;
}

.emoji {
    font-size: 79px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
    width: 100px;
}

.item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
}

.item-name {
    font-size: 28px;
    margin: 0;
}

.item-ingredients {
    font-size: 16px;
    margin: 0;
    color: #8B8B8B;
}

.item-price {
    font-size: 20px;
    margin: 0;
}

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 46px;
    margin-top: 10px;
    line-height: 30px;
    border-radius: 50%;
    border: 1.5px solid #DEDEDE;
    font-size: 32px;
    font-weight: 200;
    color: #3C3C3C;
    background: none;
    box-sizing: content-box;
}

.order {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.order h2 {
    font-size: 28px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 50px;
}

.ordered-items {
    padding-bottom: 20px;
    border-bottom: 2px solid #393333;
}

.total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.ordered-item {
    display: flex;
    justify-content: space-between;
}

.item {
    display: flex;
    gap: 13px;
}

.order-item-name {
    align-self: center;
}

.order-item-price {
    align-self: center;
}

.remove-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #BBBBBB;
    background: none;
    border: none;
    align-self: center;
    padding: 0;
    margin-top: 3px;
}

.complete-order-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 60px;
    background: #16DB99;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
}

.payment {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 46px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 524px;
    height: 542px;
    text-align: center;
    background: #FFFFFF;
    /* visibility: hidden; */
    border: 1px solid #757575;
    border-radius: 4px;
    box-shadow: 5px 5px 255px #00000080;
}

.payment h2 {
    margin-top: 48px;
    font-size: 24px;
    font-weight: 700;
}

.payment input {
    width: 100%;
    color: #757575;
    border: 1.3px solid #757575;
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
}

.card-details {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.common-margin {
    margin-left: 20px;
    margin-right: 20px;
}